body {
  background-color: #f2f3f6;
  color: #494e61;
  font-family: "Open Sans";
  overflow-x: hidden;
}
.colorWhite {
  color: #ffffff;
}

.bold600 {
  font-weight: 600;
}

.pHeader {
  font-size: 21px;
  margin: 0;
}

.pHeaderSm {
  font-size: 15px;
  margin: 0;
}

.inputBox {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 7px;
  color: #a9aec1;
  font-size: 14px;
  border: 2px solid #d4d7e1;
  border-radius: 12px;
  background-color: #f2f3f6;
  background-size: 14px 14px;
}

input {
  width: 83%;
  color: #494e61;
  border: none;
  margin-left: 7px;
  background-color: transparent;
}

input::placeholder {
  color: #a9aec1;
  font-weight: 600;
}

.nav-style {
  height: 73px;
  width: 1923px;
  background-color: #494e61;
}

.elipsa-1 {
  display: inline-block;
  margin-right: 9px;
  height: 17px;
  width: 17px;
  border: 2px solid #7d82f7;
  border-radius: 10px;
}

.logo {
  display: flex;
  margin: auto 0;
  align-items: center;
  height: 35px;
  padding-right: 25px;
  border-right: 2px solid #757b8f;
}

.table {
  border: 2px solid #ededf0;
  background-color: #ffffff;
}

.table th,
.table td {
  vertical-align: 0;
}

thead {
  color: #9ca7d3;
  font-size: 14px;
  font-weight: 600;
}

.colName {
  width: 30%;
}
.colBtn {
  width: 10%;
}

tbody th {
  font-size: 13px;
  font-weight: 600;
}

tbody td {
  font-size: 12px;
  justify-items: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #9ca7d3;
}

tr.online span {
  color: #24a1a9;
}

tr.online div.status {
  display: inline-block;
  overflow: hidden;
  margin-right: 3px;
  width: 7px;
  height: 7px;
  background-color: #24a1a9;
  border-radius: 3px;
}

tr.offline span {
  color: #494e61;
}
tr.offline div.status {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 3px;
  color: #ea5885;
}

tr.rebooting td {
  color: #a9aec1;
}

tr.rebooting div.status {
  display: none;
}

.btnDrop {
  padding: 0;
  line-height: 30px;
  height: 37px;
  width: 37px;
  border-radius: 20px;
  border: none;
  background-color: #fff;
  transition: 0.3s;
}

.btnDrop:hover {
  background-color: #f2f3f6;
}

.btnDrop .dots {
  position: relative;
  top: -15%;
  left: 2%;
  line-height: 30px;
  color: #9ca7d3;
  font-size: 30px;
}

.dropdown-menu {
  top: -150% !important;
  left: -160% !important;
  padding: 0;
  width: 137px;
  border-radius: 0;
  box-shadow: 0 0 5px #ddd;
}

.dropdown-item {
  height: 55px;
  font-size: 13px;
  font-weight: 600;
  line-height: 50px;
  color: #494e61;
}
